{% extends "personal/header.html" %}

{% block content %}
<h3>This blog is been solely created for our Physicians who have a profile in our forum for posting their ideas and to express their views about various technologies and  advancements in the current medical field, thus providing information to their fellow followers.The followers or the users can view the blog page for references and detail.This blog will be very useful for our followers as well as other fellow Physicians.</h3>
<!-- {% include "personal/includes/htmlsnippet.html" %} -->
{% endblock %}